* {
  font-family: "Raleway" !important;
}

/*--------------------------------------------------------------
# SCROLLBAR
--------------------------------------------------------------*/
.scroll {
  overflow: auto;
  height: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

:hover::-webkit-scrollbar-thumb {
  background-color: black;
}

::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/*--------------------------------------------------------------
# SCROLLBAR
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# REUSABLE CLASSES
--------------------------------------------------------------*/
.gap-40 {
  gap: 40px !important;
}

.r-16 {
  border-radius: 16px;
}

.height-160 {
  height: 160px;
}

.height-400 {
  height: 400px;
}

.height-480 {
  height: 480px;
}

.min-height-400 {
  min-height: 400px;
}

.btn-secondary {
  background-color: black !important;
}

.btn-secondary:hover {
  background-color: red !important;
}

.btn-primary {
  background-color: red !important;
  border-color: red !important;
}

.btn-primary:hover {
  background-color: black !important;
  border-color: black !important;
}

.btn {
  padding: 20px 40px;
}

.rotate {
  animation: loading 15s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# REUSABLE CLASSES
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# NAVBAR
--------------------------------------------------------------*/
.header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 99999;
  width: 100%;
}
.header .logo {
  font-size: 36px;
  line-height: 24px;
  font-weight: 500;
}
.header .nav-link:hover,
.header .show .dropdown-toggle {
  color: red !important;
}
.header .nav-link {
  color: black !important;
  font-weight: 500;
  font-size: 14px;
}

/*--------------------------------------------------------------
# NAVBAR
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# CAROUSEL
--------------------------------------------------------------*/
.carousel-section {
  height: 480px;
}
.carousel-section .owl-carousel .item {
  height: 480px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: bottom !important;
}
.carousel-section .owl-carousel .item .carousel-item-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}
.carousel-section .owl-carousel .item .carousel-item-inner .carousel-item-header,
.carousel-section .owl-carousel .item .carousel-item-inner .carousel-item-text {
  width: -moz-fit-content;
  width: fit-content;
}
.carousel-section .owl-carousel .item .carousel-item-inner h2,
.carousel-section .owl-carousel .item .carousel-item-inner p {
  background-color: rgba(0, 0, 0, 0.541);
  color: white;
  margin: 0;
  padding: 16px;
}
.carousel-section .owl-carousel .item .carousel-item-inner .carousel-item-button a {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  text-transform: uppercase;
}
.carousel-section .owl-carousel .item .carousel-item-inner .carousel-item-button a img {
  width: 24px;
}
.carousel-section .carousel-overlay {
  top: 0;
}
.carousel-section .carousel-overlay .carousel-overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.carousel-section .carousel-overlay .social-media {
  z-index: 999;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}
.carousel-section .carousel-overlay .social-media .social a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 50%;
  text-decoration: none;
}
.carousel-section .carousel-overlay .social-media .social a img {
  width: 24px;
}
.carousel-section .carousel-overlay .social-media .social a:hover {
  background-color: red;
}
.carousel-section .carousel-overlay .custom-carousel-arrows {
  z-index: 999;
  display: flex;
  justify-content: flex-end;
}
.carousel-section .carousel-overlay .custom-carousel-arrows span {
  cursor: pointer;
}
.carousel-section .carousel-overlay .custom-carousel-arrows span img {
  width: 80px;
  margin-bottom: 16px;
}

/*--------------------------------------------------------------
# CAROUSEL
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# OFFER SECTION
--------------------------------------------------------------*/
.offer-section {
  background-color: red;
}
.offer-section .planet img {
  width: 40px;
  display: block;
  margin: auto;
}
.offer-section p,
.offer-section h2 {
  color: white;
  text-align: center;
}
.offer-section .offer-button {
  background-repeat: no-repeat !important;
  background-position: top !important;
  display: flex;
  justify-content: center;
  align-items: end;
}
.offer-section .offer-button button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  font-size: 18px;
}
.offer-section .offer-button button img {
  width: 24px;
}
.offer-section .offer-button img {
  display: block;
  margin: auto;
}

/*--------------------------------------------------------------
# OFFER SECTION
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# INFO SECTION
--------------------------------------------------------------*/
.info-section .sun-image img {
  width: 56px;
  display: block;
  margin: auto;
}
.info-section .info-text p {
  font-size: 18px;
}

/*--------------------------------------------------------------
# OFFER SECTION
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# VIDEO SECTION
--------------------------------------------------------------*/
.video-section {
  background-repeat: no-repeat !important;
  background-position: center !important;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}
.video-section h2,
.video-section p {
  color: white;
}
.video-section .play-button {
  cursor: pointer;
}
.video-section .play-button img {
  width: 160px;
  display: block;
  margin: auto;
}

.video-overlay {
  width: 100%;
  height: 100vh;
  top: 0;
  background: rgba(0, 0, 0, 0.4705882353);
  z-index: 99999999999999;
}
.video-overlay .overlay {
  z-index: 9999;
  position: absolute;
}
.video-overlay .video-container {
  height: 90%;
  margin-top: 40px;
}
.video-overlay .video-container .container,
.video-overlay .video-container .row,
.video-overlay .video-container .col {
  height: 100%;
}
.video-overlay .video-container .container {
  z-index: 99999999999;
  position: relative;
}
.video-overlay .video-container .video-inner {
  background-color: white;
  height: 100%;
}
.video-overlay .video-container .video-inner .close-video {
  margin-bottom: 16px;
  margin-left: auto;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}
.video-overlay .video-container .video-inner .close-video img {
  width: 40px;
}
.video-overlay .video-container .video-inner .video,
.video-overlay .video-container .video-inner iframe {
  height: 95%;
  width: 100%;
}

/*--------------------------------------------------------------
# VIDEO SECTION
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# NEWS SECTION
--------------------------------------------------------------*/
.news-section .news-headline img {
  display: block;
  width: 40px;
  margin: auto;
}
.news-section .custom-card {
  gap: 16px;
  margin-top: 40px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2196078431);
  padding-bottom: 16px;
}
.news-section .custom-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.news-section .custom-card h3 {
  right: 16px;
}
.news-section .custom-card a {
  color: red !important;
  text-decoration: underline !important;
  font-weight: 600;
}

/*--------------------------------------------------------------
# NEWS SECTION
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# FORM SECTION
--------------------------------------------------------------*/
.form-section {
  position: relative;
}
.form-section .bg-blur {
  filter: blur(4px);
  -webkit-filter: blur(4px);
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
  height: 480px;
}
.form-section .form-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-section .form-content .form-heading img {
  width: 60px;
  display: block;
  margin: auto;
}
.form-section .form-content .form-heading h2,
.form-section .form-content .form-heading p {
  color: white;
  text-align: center;
}
.form-section .form-content .form .inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}
.form-section .form-content .form .inputs label {
  color: white;
  font-weight: 500;
}
.form-section .form-content .form .inputs input {
  background-color: transparent;
  color: white;
}
.form-section .form-content .form button {
  display: block;
  margin: auto;
  margin-top: 16px !important;
}

/*--------------------------------------------------------------
# FORM SECTION
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
.footer .footer-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 24px;
  flex-wrap: wrap;
  padding: 0;
}
.footer .footer-links ul li {
  color: black;
}
.footer .footer-links ul li a {
  color: black;
  text-decoration: none;
}
.footer .footer-links ul li a:hover {
  color: red;
}
.footer .evonomix {
  background-color: black;
}
.footer .evonomix p {
  color: white;
  text-align: right;
}

/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# MEDIA QUERIES
--------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  .bg-blur {
    height: 560px !important;
  }
  .form .inputs {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media only screen and (max-width: 576px) {
  .news-section .custom-card {
    flex-direction: column !important;
    align-items: center !important;
  }
  .news-section .custom-card h3 {
    right: 0 !important;
    text-align: center;
    margin-top: 8px;
  }
  .news-section .custom-card a,
  .news-section .custom-card p {
    text-align: center;
    display: block;
  }
  .evonomix p {
    text-align: center !important;
  }
}
/*--------------------------------------------------------------
# MEDIA QUERIES
--------------------------------------------------------------*//*# sourceMappingURL=custom.css.map */